.progress_border{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.square{
    width: 15px;
    height: 15px;
    margin: 10px;
}
.active_square{
    background-color: rgb(123,123,123);
}

/***************** MAIN **************/

/* ** */
#title{
    background-image: url("../midia/placeholder_image.png");
    background-position: center;
    background-repeat: no-repeat;

    height: 600px;
    width: 100%;

    position: relative;
}
#title h1{
    font-size: 30px;
    margin-bottom: 20px;
}

/* ** */

#about figure{
    width: 100%;
    margin: 0;
}
#about figure img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
#about p{
    text-align: justify;
    text-indent: 40px;
}
#about p::first-letter{
    font-size: 20px;
}
/* ** */
#progress{
}
#progress figure{
    position: relative;
    width: 100%;
    margin: 0;
}
#progress figure img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}
#progress figcaption{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
}
#progress ul{
    padding: 0;
}



/* ** */
#latest_news a{
    width: 500px;
    height: 150px;
    margin: 10px;
    border-left: 10px solid black;
    transition: 0.2s ease-out;
}
#latest_news a:not(:last-child):hover{
    transition: 0.2s ease-in;
    border-left: 30px solid black;
}

#latest_news a:last-child{
    border: none;
    text-align: center;
    height: auto;
    width: auto;
    margin: 10px 0 0 0;
    padding-left: 10px;

}
#latest_news a:last-child h4{margin: 20px;}

#latest_news a:last-child:hover{
    border-left: 10px solid black;
}
