/*
COLOR PALLETE
#083d77
#ebebd3
#da4167
#f4d35e
white
black
*/
.flex{display: flex;}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-center-h{justify-content: center;}
.flex-center-v{align-items: center;}
.border{border: 2px solid black;}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Verdana", sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
}
/************** HEADER ***************/
header{
    background-color: #f4d35e;
    width: 100%;
}

nav{
    z-index: 10;
    height: 75px;
    border-bottom: 4px solid #083d77;
}

nav a{
    height: 90%;
    width: 100px;

    font-weight: bold;
    color: #da4167;

    padding-left: 20px;
    padding-right: 20px;

    border-radius: 10px;
}
nav a:hover{
    transition: 0.2s;
    color: darkred;
    font-size: 20px;
}
nav:hover a:not(:hover){
    color: palevioletred;
}

/***************** MAIN **************/
main{
}

main section:not(:first-child){
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;

}
/* ** */
#title{
    background-image: url("midia/placeholder_image.png") fixewd center;
    height: 600px;
    position: relative;
    padding-bottom: 20px;
}
#title h1{
    font-size: 30px;
    margin-bottom: 20px;
}

/* ** */

#about figure{
    width: 100%;
    margin: 0;
}
#about figure img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
#about p{
    text-align: justify;
    text-indent: 40px;
}
#about p::first-letter{
    font-size: 20px;
}
/****/
#progress{
}
#latest_news{
    background-color: red;
}


/***************** FOOTER **************/

footer{
    color: white;
    background-color: rgb(0, 0, 0, 0.8);
    overflow: auto;
    text-align: center;
}
